*{
	font-family: helvetica, Arial, sans-serif;
	max-width:700px;
	margin: auto;
	
 }

body {
	min-width:500px;
	background-color: #e0eeee;
	}
	
.profileBody {
	display: inline-block;
	background-color: white;
	margin-top: 6px;
	margin-left: 55px;
	width: 75%;
	height: 590px;
}
p {
  padding: 18px;
}

h1 {
	color: black;
}
h2 {
	font-size:20px;
	
}
p {
  font-family: verdana;
  font-size: 15px;
}
